*{
    margin: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

p {
    font-family: 'Montserrat';
}
h2 {
    font-family: 'Lora'
}

.navbar {
    
    display: flex;
    position: fixed; 
    top: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    background-color: #3C4452;
    width: 100%;
    border-bottom: 2px solid grey;
    font-family: 'Lora';
    font-size: 50em;
}
.navbar-item {
    
    color: white;
    margin: 20px 30px;
    
    padding: 10px 10px 10px 10px;
    font-size: 32px;
    text-decoration: none;
}
.navbar-item:hover {
    border-bottom:3px solid #fff;
   
    
}
.valiotsikko {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 1em;
    font-family: 'Bitter';    
    font-size: 4rem;
}
.valiotsikko-object {
    border-bottom: 5px solid black;
    
}
#infobox {
    
    display: flex;
    width: 60%;
    box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #59DEAF;
    padding: 10%;
    margin: 10%;
    border-radius: 20px;
    
}
#infobox h2 {
    font-family: Lora;
    font-size: 3rem;
    }
#infobox p {
    margin-top: 0.5em;
   
}
.box-button {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-flow: row wrap;
    background-color: #3089FF;
    border: none;
    text-align: center;
    border-radius: 20px;
    color: #FFF;
    font-family: Lora;
    width: 30%;
    padding: 1em;
    text-decoration: none;
}
.box-button:hover {
    background-color: rgb(36, 111, 209)
}

#home-container {
    background-color: #3C4452;
    display: flex;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
    
    
}
#about-background {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px 100px 150px 100px;
    background-color: #E8E8E8;
    align-items: center;
    justify-content: center;
}

#about-me {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.3);
    background-color: #59DEAF;
    padding: 3em;
    border-radius: 10px;
    margin-bottom: 50px;
    

}
#about-me h2 {
    font-family: 'Lora';
    font-size: 3rem;
    margin-bottom:10px;

}
#skills-header {
    margin-bottom: 30px;
    font-size: 3rem;
}
#skills-container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    
}
#language-section{
    
    background-color: #59DEAF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.3);
    font-size: 2rem;
    padding: 30px;
    width: 100%;
}

.language-bar {
    
    width: 50%;
    background-color: #DCDCDC;
    border-radius: 50px;
    margin-top: 10px;
    
}
.language {

    box-sizing: border-box;
    display: flex;
    padding: 10px 20px 10px 20px;
    color: white;
    font-family: 'Lora';
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    
}
.html { width: 20%; background-color: green;}
.css { width: 20%; background-color: blue;}
.scala {width: 50%; background-color: purple;}


#projects-background {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    
    background-color: #E8E8E8;
    justify-content: center;
    
    
}
#projects-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center ;
    padding: 10em 15em 10em 15em;
    flex-flow: row wrap;
}
.projects-content {
    display: flex;
    background-color: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 1em;
    height: 300px;
    width: 400px;
    transition: all .2s ease-in-out;
    margin: 1em;
    box-shadow: 10px 10px 2px 0px rgba(0,0,0,0.3);
}
.projects-content h2 {
    font-family: 'Lora';
    font-size: 32px;
}


.projects-content:hover {
    transform: scale(1.1);
    
}
.downwards-line {
    border-left: 6px solid green;
  height: 30px;
  margin: 50px 0px 50px -3px;
  
}
