html {
    scroll-behavior: smooth;
}
h1 {
    font-family: Bitter;    
    font-size: 100px;
}
h2 {
    font-family: Lora;
    font-size: 50px;
    
}
p {
    font-family: Montserrat;
    font-size: 16px;
}
.navbar {
    
    display: flex;
    position: fixed; 
    top: 0; 
    flex-flow: row ;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #3C4452;
    width: 100%;
    border: 5px solid grey;
}
.navbar-item {
    
    color: white;
    margin: 20px 30px;
    border-color: blue; 
    padding: 10px 10px 10px 10px;
    font-size: 32px;
}
.navbar-item:hover {
    color:#3089FF;
}
.valiotsikko {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#infobox {
    box-sizing: border-box;
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    margin: 10% 10% 10% 10%;
    background-color: #59DEAF;
    
}
#home-container {
    background-color: #3C4452;
    display: flex;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 200px;   
    justify-content: center;
}
#about-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    
}
#about-me {
    width: 40%;
    padding-right: 10%;
    border: 1px solid black;
    
}
#skills-section{
    box-sizing: border-box;
    border: 1px solid blue;
    display: flex;
    flex-flow: column wrap;
    width: 20%
}
.skills-container {
    
    width: 100%;
    background-color: #DCDCDC;
    
}
.skills {
    display: flex;
    justify-content: flex-end;
    padding: 0.1em 1em 0.1em 1em;
    color: white;
}
.html { width: 20%; background-color: green;}
.css { width: 20%; background-color: blue;}
.scala {width: 50%; background-color: purple;}
.line-container {
    display:flex;
    width: 100%;
    justify-content: center;
}
#projects-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: #E8E8E8;
}
.downwards-line {
    border-left: 6px solid green;
  height: 30px;
  margin-left: -3px;
  top: 0;
}
